body {
    font-family: cursive;
    text-align: center;
    background-image: radial-gradient(black, transparent);


}

.quote-donation-form {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-family: cursive;

}

.donation-form {
    width: 60%;
    height: 100%;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(250 232 69);
    font-family: cursive;
    margin: 19px 300px;
    border-radius: 30px;
    

}

#personal-details-form {
    padding: 30px 10px;
    font-size: 22px;
    text-align: center;
}

#input {
    border-bottom: 2px solid black;
    text-align: center;
    width: 80%;
    font-family: cursive;
    height: 25px;
    border-radius: 10px;
}



.method-payment {
    padding: 10px;
    border-radius: 35px;
    background: #fefe58;
    /* border: 2px solid black; */
}

.card-body {
    min-height: 1px;
    margin: 5px 40px;
    padding: 1.25rem;
    border-radius: 10px;
    border: 1px solid;
    border-radius: 60px;

}

.card-body h3 {
    font-size: 36px;
    text-align: center;
    font-family: 'DM Serif Display';
    color: #ce0404;
   

}

.card-body p {
    margin-top: 5px;
    font-size: 20px;
}

.card-address {
    margin-top: 10px;
    margin: 10px 18px 5px 18px;
    text-align: center;
    padding: 5px;
}



#personal-info-div {
    /* border: 2px solid; */
    border-radius: 5px;
    padding: 5px;
}

#UPI-system {
    text-align: center;
    /* border: 2px solid; */
    margin: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}



#UPI-system P {
    color: #ce0404;
    margin-bottom: 10px;
    font-weight: 800;
    font-family:serif;
}
#UPI-system img {
    width: 50%;
    height: 395px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-radius: 130px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    /* Adjust as needed */
}

.image-container img {
    max-width: 48%;
    /* Adjust as needed */
    height: auto;
}

.card-title {
    width: 50%;
    margin: 3px 5px 10px 165px;
    font-size: 35px;
    color: #ce0404;
    font-family: fangsong;
    font: bold;
    height: auto;
    text-align: center;
}